.title{
    display: flex;
}
.one{
    font size: 50px;
    
}
.service-item1{
    border: 5px solid green;
    height: 350px;
    width: 350px;
    font-size: 20px;
    
}
.service-item2{
    border: 5px solid green;
    height: 350px;
    width: 350px;
    font-size: 20px;
}
.service-item3{
    border: 5px solid green;
    height: 350px;
    width: 350px;
    font-size: 20px;
}
.two{
    font size: 50px;
    
}.three{
    font size: 50px;
    
}

